@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");

html {
  font-family: Manrope;
}

.image-hover-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image-hover-container h1{
  color: rgba(0, 0, 0, .1);
  user-select: none;
}

.image-hover-container .container {
  position: relative;
  height: 20rem;
  width: 15rem;
  margin: auto;
  cursor: pointer;
  display: -webkit-box;
}

.image-hover-container .container:hover>.bottom-right {
  top: 55%;
  left: 80%;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
  width: 21rem;
}

.image-hover-container .container:hover>.middle {
  height: 90%;
  left: 5%;
  top: 5%;
  width: 90%;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, .2);
}

.image-hover-container .container:hover>.middle .overlay {
  opacity: 1;
  z-index: 1;
}

.image-hover-container .container:hover>.middle .overlay p:nth-child(1) {
  padding-top: 0;
}

.image-hover-container .container:hover>.top-left {
  left: -4rem;
  top: -6rem;
  width: 10rem;
  box-shadow: 0 1.2rem .8rem rgba(0, 0, 0, .2);
}

.image-hover-container .container:hover>.top-right {
  left: 15rem;
  top: -6rem;
  width: 16rem;
  height: 17rem;
  box-shadow: 0 1.2rem 0.8rem rgba(0, 0, 0, .2);
}

.image-hover-container .container:hover>.bottom-left {
  left: -90%;
  top: 65%;
  width: 22rem;
  box-shadow: 0 1.2rem .8rem rgba(0, 0, 0, .2);
}

.image-hover-container .container .lake-district {
  background: white no-repeat cover;
}

.image-hover-container .container .bg-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 10%;
}

.image-hover-container .container .middle {
  transition: 500ms all;
  transition-delay: .3s;
  transition-timing-function: cubic-bezier(.17, .67, .33, .97);
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .2);
}

.image-hover-container .container .middle .bg-image {
  height: 100%;
  width: 100%;
}

.image-hover-container .container .middle .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(67, 27, 12, 0.75);
  display: flex;
  flex-direction: column;
  transition: 300ms all;
  transition-delay: .4s;
  opacity: 0;
  text-decoration: none;
  z-index: -1;
}

.image-hover-container .container .middle .overlay p {
  position: relative;
  margin: auto;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  opacity: .8;
}

.image-hover-container .container .middle .overlay p:nth-child(1) {
  margin-bottom: .4rem;
  padding-top: 2rem;
  transition: all 400ms;
  transition-delay: .3s;
}

.image-hover-container .container .middle .overlay p:nth-child(2) {
  margin-top: .4rem;
}

.image-hover-container .container .bottom-right {
  transition: 800ms all;
  transition-delay: .15s;
  transition-timing-function: cubic-bezier(.17, .67, .33, .97);
  position: absolute;
  left: 0%;
  top: 48%;
  width: 100%;
  box-shadow: 0px 2rem 1.5rem rgba(110, 110, 110, 0);
  z-index: 1;
}

.image-hover-container .container .bottom-right .bg-image {
  height: 14rem;
  width: 100%;
}

.image-hover-container .container .bottom-left {
  transition: 800ms all;
  transition-delay: .17s;
  transition-timing-function: cubic-bezier(.17, .67, .33, .97);
  position: absolute;
  left: 0%;
  top: 48%;
  width: 100%;
  z-index: 1;
}

.image-hover-container .container .bottom-left .bg-image {
  height: 14rem;
  width: 100%;
}

.image-hover-container .container .top-left {
  transition-timing-function: cubic-bezier(.17, .67, .33, .97);
  transition: 600ms all;
  transition-delay: .19s;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 10rem;
  z-index: 1;
}

.image-hover-container .container .top-left .bg-image {
  height: 14rem;
  width: 100%;
}

.image-hover-container .container .top-right {
  transition: 500ms all;
  transition-delay: .08s;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 19rem;
  height: 15rem;
  z-index: 1;
  transition-timing-function: cubic-bezier(.17, .67, .33, .97);
}

.image-hover-container .container .top-right .bg-image {
  float: right;
  height: 100%;
  width: 100%;
}

@media (max-width: 920px) {
  .image-hover-container {
    transform: scale(.8) translateX(0px);
    overflow: hidden;
  }

  .image-hover-container .overlay p:nth-child(1) {
    margin-top: 8rem;
  }

  .image-hover-container .overlay p:nth-child(2) {
    margin-bottom: 2rem;
  }

  .image-hover-container .bottom-right,
  .image-hover-container .bottom-left,
  .image-hover-container .top-left,
  .image-hover-container .top-right {
    box-shadow: 0 0 0 important!;
  }
}

@media (max-width: 350px) {

  .bottom-right,
  .bottom-left,
  .top-left,
  .top-right {
    display: none;
  }
}
